/.poetry_dev_up_to_date
/.poetry_prod_up_to_date
/.node_packages_up_to_date
/.serverless
/.coverage
/.dynamodb
/node_modules

# These files are produced by coverage with `coverage html` and `coverage xml`
/htmlcov
/coverage.xml
