[MESSAGES CONTROL]

disable=
  # I'm okay with TODO comments
  fixme,
  # module-level `logger` should be allowed
  invalid-name,
  # Not all modules need a docstring
  missing-docstring,
  # I have a function with 6 args
  too-many-arguments

[REPORTS]

reports=no
score=no

[FORMAT]

max-module-lines=2000
